.header{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    height:400px ;
    color: white;
}
.logo{
    border-radius: 100px;
}

.link2{
    margin-left: auto;
}

.navbar ul{
    display: flex;
    text-decoration: none;
    gap: 12px;
    justify-content: center;
    align-items: center;
    
}
.navbar ul li {
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    color: white;

}
.headerBody{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    
}
.headerBody1{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    
}
.headerBody1 .heading{
    
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 0px;
    color: #f9faf8;

}
.headerImage{
    max-width: 500px;
    margin-top: 48px;
}
.headerText{
    font-size: 18px;
    margin: 0px;
    margin: 12px 0px;
}
.headerButton{
    height: 30px;
    width: 100px;
    border-radius: 10px;
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: bold;
    border: 0px;


}

.body1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body1Heading{
    font-size: 36px;
    font-weight: bolder;
}

.body1Images{
    display: flex;
    text-align: center;
    gap: 24px;
  

}
.body1Image1, .body1Image2, .body1Image3,.body1Image4{
    
    max-width: 150px;
}
.body1Images img{
    border-radius: 24px;

}

.body1Images p{
    margin-top: 0px;

}
