.body{
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    height:400px ;
    color: white;
}
.logo{
    border-radius: 100px;
}
.link1{
    margin-left: 350px;
}

.link2{
    margin-left: auto;
}
.link4{
margin-right: 400px ;
}

.navbar ul{
    display: flex;
    text-decoration: none;
    gap: 12px;
    justify-content: center;
    align-items: center;
    
}
.navbar ul li {
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    color: white;

}
.headerBody{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 12px;
    
}
.headerBody1{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    
}
.headerBody1 .heading{
    
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 0px;
    color: #f9faf8;

}
.headerImage{
    flex: 1 1 auto;
    max-width: 500px;
    margin-top: 48px;
}
.headerText{
    font-size: 18px;
    margin: 0px;
    margin: 12px 0px;
}
.headerButton{
    height: 30px;
    width: 100px;
    border-radius: 10px;
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: bold;
    border: 0px;


}

.body1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body1Heading{
    font-size: 36px;
    font-weight: bolder;
}

.body1Images{
    display: flex;
    text-align: center;
    gap: 24px;
  

}
.body1Image1, .body1Image2, .body1Image3,.body1Image4{
    max-width: 200px;
}
.body1Images img{
    border-radius: 24px;
    max-height: 200px;
    max-width: 200px;

}

.body1Images p{
    margin-top: 0px;

}
.body2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}
.quote{
    font-size: 36px;
    color: #1f2937;
    margin-bottom: 0px;
}
.author{
    margin-top: 0px;
    font-size: 18px;
    text-align: right;
}
.body2Content{
    max-width: 1000px;
}

.body3{
    height: 300px;
    /* background-color:; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.body3Box{
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    color: #e5e7eb;
    border-radius: 20px;
    width: 800px;
    
}

.body3Button{
    height: 30px;
    width: 100px;
    border-radius: 10px;
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid white;
   
    


}
.footer{
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}